# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.cache
*.dll
*.pdb
*.log
.vs/
*.csproj.user

# NuGet
*.nupkg
**/packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / VS Code
.idea/
.vscode/
*.swp
*~

# User secrets
secrets.json
*.Development.json
appsettings.*.local.json
